* {
    box-sizing: border-box;
    /* change le box model */
}

img {
    max-width: 100%;
    /* image responsive, largeur maxi */
    max-width: auto;
    /* hauteur "auto" */
}

.carrousel_parent-ecrans {
    display: flex;
    /* aligne horizontalement les enfants */
    width: 100%;
    /* largeur du parent */
    overflow-x: scroll;
    scroll-snap-type: x mandatory;
}

.carrousel_ecran {
    width: 100%;
    /* largeur du parent pour chaque enfant */
    flex: 0 0 100%;
    /* permet de garder toute la largeur du parent */
}

.carrousel_ecran figure {
    margin: none;
    /* enlève les marges par défaut */
}